{% extends 'base.html'%}
{% block title %}Password Change{% endblock title %}

{% block content %}
<div style="
    width: 65%;
    margin: 30px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    border: 3px solid #0047ab;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
">

    <h1 style="color: #0047ab; margin-bottom: 12px; font-weight: bold;">
        Password Change
    </h1>

    <p style="
        color: #d50000;
        font-weight: 500;
        margin-bottom: 20px;
    ">
        Please enter old password for security,  
        then enter your new password twice so it is confirmed properly.
    </p>

    <form method="POST">
        {% csrf_token %}
        <div style="margin-bottom: 20px;">
            {{ form.as_p }}
        </div>

        <input type="submit"
            value="Change My Password"
            style="
                background-color: #d50000;
                color: white;
                padding: 8px 15px;
                border-radius: 6px;
                border: none;
                font-weight: bold;
                cursor: pointer;
            ">
    </form>

</div>
{% endblock content %}
